@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
    
  }
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }
  

  body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;
    color: #242424;
    background-color: #fbf7f4;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-header {
    color: #000000;
    background-color: #ffffff;
  }

  .navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

  .navigation-logo {
    width: 139px;
    margin-right: 30px;
    flex-shrink: 0;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
  }

  .navigation-user {
    max-width: 264px;
    margin-left: auto;
  }

  .navigation-user .navigation-link {
    min-width: 42px;
    min-height: 66px;
  }

  .navigation-link {
    display: block;
    padding: 20px 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
  }

  .button-navigation-link {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756257;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .navigation-link-current {
    display: block;
    padding: 20px 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
  }

  .main-container {
    flex-grow: 1;
  }

  .main-index {
    color: #000000;
    background-color: #ffffff;
  }

  .greeting {
    display: flex;
    background-image: url(../images/main/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 64px; 
  }

  .main-inner {
    color: #000000;
    background-color: #ffffff;
  }

  .filter-container {
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    background-image: url(../images/catalog/catalog-background-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 82px;
  }

  .main-slogan {
    display: flex;
    flex-direction: column;
    padding: 0 240px;
  }

  .slogan {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 63px auto 31px ;
  }

  .reasons {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto 80px ;

  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }

  .product-card-list {
    display: flex;
    flex-wrap: wrap;
    width: 1056px;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
  }

  .product-card {
    width: 340px;
    margin-right: 18px;
  }

  .product-card:nth-child(3n) {
    margin-right: 0;
  }

  .upload-container {
    width: 1056px;
    margin: 0 auto;
    padding: 0;
  }


  .advantages-item {
    width: 400px;
  }

  .advantages-item-photo {
    color: #ffffff;
    background-color: #83b3d3;
    width: 400px;
  }

  .photo-advantages {
    width: 800px;
  }

  .advantages-item-photo h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 98px;
    margin-bottom: 30px;
  }

  .advantages-description-number {
    margin: 0;
    margin-bottom: 30px;
  }

  .advantages-description {
    margin: 0;
  }

  .advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-top: 98px;
    margin-bottom: 30px;
  }


  .hotel-search {
    text-align: center;
    padding-bottom: 93px;
  }

  .page-search {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-top: 91px;
    margin-bottom: 30px;
  }

  .hotel-search p {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    margin-top: 0;
    margin-bottom: 56px;
  }

  .hotel-search a {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
    margin-top: 0;
  }


  .mailing {
    font-weight: 400;
    color: #ffffff;
    background-color: #000000;
    background-image: url(../images/main/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 94px;
  }
  .mailing p {
    margin-top: 0;
    margin-bottom: 46px;
  }


  .mailing-inner {
    font-weight: 400;
    color: #333333;
    background-color: #ffffff;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  .page-mailing {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 94px;
    margin-bottom: 29px;
  }

  .button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    align-items: center;
    background-color: #83b3d3;
    color: #ffffff;
    border: 0;
  }

  .page-footer a {
    color: #000000;
    background-color: #ffffff;
  }

  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    
  }

  .footer-social {
    width: 107px;
    margin-right: 61px;
  }

  .footer-social-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .footer-social-list .button {
    min-width: 18px;
    min-height: 15px;
  }

  .footer-contacts {
    width: 720px;
    margin-right: 53px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .footer-contacts-logo {
    width: 115px;
    margin-right: 72px;
    margin-top: 42px;
    margin-bottom: 44px;
  }

  .footer-contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;

  }

  .inner-header {
    width: 1200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff
  }

  .breadcrumbs {
    display: flex;
    margin-top: 0px;
    margin-left: 73px;
    margin-bottom: 45px;
    list-style-type: none;
  }

  .inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    width: 528px;
    margin-top: 35px;
    margin-left: 71px;
    margin-bottom: 5px;
  }

  .sorting-container {
    display: flex;
    width: 1057px;
    margin: 44px auto 53px;
  }

  .sorting-container .button {
    width: 48px;
    height: 48px;
  }

  .catalog-hotel {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffffff
  }

  .filter-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  .catalog-filter {
    display: flex;
    margin-top: 0px;
    margin-left: 71px;
  }

  .catalog-filter-list {
    list-style-type: none;
  }

  .control-input {
    font-family: inherit;
  }

  .button-submit {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    color: #ffffff;
    background-color: #83b3d3;
    border: 0;
  }
  .button-reset {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    border: 0;
  }

  .result {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    text-transform: uppercase;
  }

  .cheap {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000
  }

  .product-card-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    list-style-type: none;
  }

  .product-card-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
  }

  .product-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #756257;
    border: 0;
  }


  .product-card-button-favorites {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #83b3d3;
    color: #ffffff
  }

  .pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 14px 20px;
    color: #ffffff;
    background-color: #83b3d3;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
  }

  .upload-container {
    text-align: center;
  }

  .upload-container .button {
    width: 620px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
  }

  .pagination-container {
    display: flex;
    list-style-type: none;
  }

  .pagination {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }


  .pagination-current {
    color: #000000;
    background-color: #e5e5e5;
  }



