@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  margin: 0 auto;
  width: 1280px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: #242424;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  position: relative;
  padding-left: 170px;
  box-sizing: border-box;
}

.navigation-logo {
  width: 139px;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  max-width: 620px;
}

.navigation-user {
  position: relative;
  max-width: 264px;
  margin-left: auto;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
  box-sizing: border-box;
  padding: 0;
}

.navigation-user .navigation-item:nth-last-child(2) {
  margin-right: 20px;
}

.navigation-user .navigation-item:nth-last-child(1) {
  flex-grow: 1;
}

.navigation-link-count {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #7DB54F;
  color: #ffffff;
  border-radius: 50%;
  left: 25px;
  top: 14px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  padding: 2.5px 0 2.5px;
  box-sizing: border-box;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.button-navigation-link:hover,
.button-hotel-search:hover {
  background: #615048;
}

.button-navigation-link:focus,
.button-hotel-search:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.button-navigation-link:active,
.button-hotel-search:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.footer-social-icon:active {
  fill: #68A2CA;
}

.button-navigation-link {
  padding: 9px 34px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756257;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.navigation-link-current {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current::before {
  position: absolute;
  bottom: 0;
  width: calc(100% - 34px);
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link-current:hover {
  color: #756257;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.advantages-icon-1::before {
  content: url(../images/main/icon-1.svg);
  position: absolute;
  top: 89px;
  left: 163px;
  right: 163px;
}

.advantages-icon-1 h3 {
  margin-top: 184px;
}

.advantages-icon-2::before {
  content: url(../images/main/icon-2.svg);
  position: absolute;
  top: 91px;
  left: 163px;
  right: 163px;
}

.advantages-icon-2 h3 {
  margin-top: 184px;
}

.advantages-icon-3::before {
  content: url(../images/main/icon-3.svg);
  position: absolute;
  top: 85px;
  left: 168px;
  right: 168px;
}

.advantages-icon-3 h3 {
  margin-top: 184px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.greeting {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #83B3D3;
  background-image: url(../images/main/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px; 
}

.greeting::before {
  background: url(../images/main/divider.svg) no-repeat;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;


}

.main-inner {
  color: #000000;
  background-color: #ffffff;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  background-color: #83B3D3;
  background-image: url(../images/catalog/catalog-background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.main-slogan {
  display: flex;
  flex-direction: column;
  padding: 0 240px;
}

.slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 63px auto 31px ;
}

.reasons {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto 80px ;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  justify-content: flex-start;
  margin: 0 auto 24px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  list-style-type: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-right: 18px;
  margin-bottom: 8px;
}

.product-card-content {
  padding: 20px;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-hotel {
  margin: 0;
  width: 133px;
}

.product-card-price {
  margin: 0;
  width: 143px;
}

.product-rating {
  margin: 0;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.product-star {
  margin-top: 10px;
  margin-right: 7px;
}

.card-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  height: 37px;
}

.rating {
  display: flex;
}

.product-card-link:hover img {
  opacity: 0.6;
}

.product-card-link:focus img {
  outline: 3px solid #83B3D3;
}

.product-card-link:active img {
  opacity: 0.3;
  outline: none;
}

.product-card-link h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: inherit;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.upload-container {
  width: 1056px;
  margin: 0 auto;
  padding: 0;
}

.advantages-item {
  width: 400px;
  height: 384px;
  position: relative;
}

.advantages-item-photo {
  display: flex;
  color: #ffffff;
  background-color: #83b3d3;
  width: 1200px;
}

.advantages-content {
  padding: 0 75px;
  padding-bottom: 79px;
}

.photo {
  padding: 0 90px;
}

.advantages-item-photo h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 98px;
  margin-bottom: 21px;
}

.advantages-description-number {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 9px;
}

.advantages-description {
  margin-top: 0;
}

.number-3,
.number-5,
.housing,
.souvenirs {
  background-color: hsl(204 48% 67% / 0.12);
}

.number-4 {
  background-color: hsl(204 48% 67% / 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-top: 98px;
  margin-bottom: 20px;
}

.hotel-search {
  text-align: center;
  padding: 91px 300px 93px;
}

.page-search {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.hotel-search p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin-top: 0;
  margin-bottom: 56px;
}

.hotel-search a {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  margin-top: 0;
  width: 575px;
  border-radius: 10px;
  padding: 11px 10px;
}

.button-hotel-search {
  padding: 15px 0;
}

.mailing {
  font-weight: 400;
  color: #ffffff;
  background-color: #4fa6b5;
  background-image: url(../images/main/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 94px 200px 93px;
}

.mailing p {
  margin-top: 0;
  margin-bottom: 46px;
}

.mailing-inner {
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 65px 200px 140px;
}

.mailing-inner h2 {
  margin-bottom: 46px;
}

.mailing-inner p {
  margin-top: 0;
  margin-bottom: 46px;
}

.page-mailing {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  align-items: center;
  background-color: #83b3d3;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}

.subscription-form {
  display: flex;
}

input[type="text"] {
  box-sizing: border-box;
  width: 600px;
  height: 60px;
  border: 0;
  padding: 0;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  padding-left: 22px;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
}

input[type="text"]:hover {
  background: #E6E6E6;
}

input[type="text"]:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.subscription-form input[type="text"].error {
  box-shadow: inset 0px 0px 0px 2px #FF5757;
}

.button[type="submit"] {
  width: 200px;
  height: 60px;
  padding: 0;
  border-radius: 0px 10px 10px 0px;
}

.button[type="submit"]:hover {
  background: #68A2CA;
}

.button[type="submit"]:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.button[type="submit"]:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.footer-social {
  margin: 40px 48px 53px 64px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  max-width: 129px;
}

.footer-social-icon {
  display: block;
}

.footer-social-button {
  line-height: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #83B3D3;
  min-width: 40px;
  min-height: 40px;
  margin-right: 3px;
}

.footer-social-button:hover {
  color: #68A2CA;
}

.footer-social-button:focus {
  color: #68A2CA;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-social-button:active {
  opacity: 0.3;
  outline: none;
}

.footer-contacts {
  width: 720px;
  margin-right: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-contacts-logo {
  margin-right: 49px;
  margin-top: 23px;
  margin-bottom: 25px;
}

.contacts-logo {
  padding: 18px 22px;
}

.footer-contacts-logo:hover {
  fill: #756257;
}

.footer-contacts-logo:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px; 
}

.footer-contacts-logo:active {
  opacity: 0.3;
  outline: none;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color:#000000
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.inner-header {
  width: 1058px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 38px 72px 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
  margin: 0;
}

.sorting-container {
  display: flex;
  width: 1057px;
  margin-bottom: 53px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 8px;
}

.card-grid-toggle:nth-last-child(1) {
  margin-right: 0;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.hotel-catalog {
  padding: 44px 72px 20px;
  margin-bottom: 10px;
}

.breadcrumbs-item {
  margin-right: 11px;
}

.filter {
  flex-grow: 1;
  padding: 0 72px 71px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group:nth-child(1) {
  padding: 0;
  margin: 0;
  border: none;
  color:#ffffff;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 216px;
}

.catalog-filter-group:nth-child(2) {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 312px;
  padding: 0;
  margin: 0;
  border: none;
  color:#ffffff;

} 

.catalog-filter-group:nth-child(3) {
  display: block;
  margin: 0;
  margin-right: 81px;
  width: 287px;
  padding: 0;
  border: none;
  color:#ffffff;
}

.catalog-filter-group:nth-child(3) .catalog-filter-title {
  margin-bottom: 33px;
}

.range-container {
  display: flex;
  margin-bottom: 32px;
}

.range-container .control {
  display: flex;
  position: relative;
  padding-left: 0;
}

.catalog-control-input[type="text"]:hover {
  opacity: 0.6;
  outline: 2px solid #FFFFFF;
  background: none;
}

.catalog-control-input[type="text"]:focus {
  box-shadow: 0px 0px 0px 3px #81B3D2;
  outline: 2px solid #FFFFFF;
  background: none;
}

.catalog-control-input[type="text"]:active {
  outline: 2px solid #FFFFFF;
  background: #756257;
  outline: none;
}

.control .catalog-control-input {
  width: 100%;
  height: 48px;
  border-radius: 0 4px 4px 0;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  padding-left: 17px;
}

.control:nth-child(1) .catalog-control-input {
  border-radius: 4px 0px 0px 4px;
  background-color: transparent;
  border-right: none;
  padding-left: 19px;
}

.catalog-filter-list {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 13px;
}


.control {
  position: relative;
  display: block;
  padding-left: 39px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark,
.control-input[type="radio"]:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:active + .control-mark {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control-input:disabled + .control-mark {
  background: #FFFFFF;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  background: url(../images/catalog/tick-1.svg) center center no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 1px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input {
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.catalog-control-range {
  margin: 0;
  position: absolute;
  right: 14px;
  top: 12px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  opacity: 0.3;
}

.range {
	position: relative;
}

.range__bar {
	height: 4px;
	background-color: rgba(255, 255, 255, 0.3);
}

.range__bar-inner {
	width: 75%;
	height: 100%;
	background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0;
}

.range__button {
	position: absolute;
	top: 0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: -10px;
	height: 20px;
	width: 20px;
  border: none;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  transition: all 0.25s ease;
}

.range__button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range__button:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range__button--right{
	left: 75%;
}

.fieldset-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 56px;
}

.button-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  color: #ffffff;
  background-color: #83b3d3;
  border: 0;
  width: 160px;
  height: 48px;
  padding: 9px 0 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.button-submit:hover {
  background: #68A2CA;
}

.button-submit:focus {
  background: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.button-submit:active {
  background: #68A2CA;
  opacity: 0.3;
  outline: none;
}

.button-reset {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  border: 0;
  width: 160px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 0.3;
  outline: none;
}

.result {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-right: 192px;
}

.sorting-type {
  margin-right: auto;
}

.cheap {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.product-card-image {
  display: block;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  border: 0;
  width: 133px;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
}

.product-card-button:hover {
  background: #615048;
}

.product-card-button:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.product-card-button:active {
  background: #615048;
  opacity: 0.3;
  outline: none;
}

.product-card-button-favorites:hover {
  background: #68A2CA;
  outline: 1px solid #756257;
}

.product-card-button-favorites:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.product-card-button-favorites:active {
  background: #68A2CA;
  outline: 1px solid #756257;
  opacity: 0.3;
}

.current:hover {
  background: #6C9E42;
}

.current:focus {
  background: #6C9E42;
  outline: 3px solid #756257;
}

.current:active {
  background: #6C9E42;
  opacity: 0.3;
  outline: none;
}

.product-card-button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #83b3d3;
  color: #ffffff;
  width: 141px;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
}

.current {
  background: #7DB54F;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  color: #ffffff;
  background-color: #83b3d3;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.upload-container {
  position: relative;;
  text-align: center;
}

.upload-container::before,
.upload-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #E6E6E6;
}

.upload-container::after {
  top: 120px;

}

.upload-container .button {
  width: 620px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 17px 0;
  border-radius: 4px;
}

.pagination-upload-more:hover {
  background: #68A2CA;
}

.pagination-upload-more:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.pagination-upload-more:active {
  background: #68A2CA;
  opacity: 0.3;
  outline: none;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.pagination-link:active {
  background: #68A2CA;
  opacity: 0.3;
  outline: none;
}

.pagination-container {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  align-items: center;
}

.pagination-contlor p {
  margin: 0;
  margin-right: 51px;
  margin-top: 5px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 670px;
}

.select-control {
  box-sizing: border-box;
  border-radius: 4px;
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  padding:12px 21px 13px 19px;
  font-family: "PT San" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #333333;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  appearance: none;
  background: url("../images/catalog/dropdown-1.svg") no-repeat right 21px center;
  -webkit-appearance: none;
  appearance: none;
}

.select-control:hover,
.card-grid-toggle:hover,
.pagination-select-control:hover {
  outline: 2px solid #83B3D3;
}

.select-control:focus,
.card-grid-toggle:focus,
.pagination-select-control:focus {
  outline: 2px solid #83B3D3;
}

.select-control:active
.pagination-select-control:active {
  opacity: 0.3;
  outline: none;
}


.pagination-select-control {
  box-sizing: border-box;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  padding-left: 17px;
  font-family: "PT Sans" sans-serif; 
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  appearance: none;
  background: url("../images/catalog/dropdown-1.svg") no-repeat right 20px center;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.pagination-contlor {
  display: flex;
  font-family: "PT Sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #333333;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
}


.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  margin-top: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 575px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
} 

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background: #E6E6E6;
  opacity: 0.3;
  outline: none;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  top: 26px;
  left: 20px;
  width: 13px;
  height: 1px;
  content: "";
  background: #000000;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-title {
  margin: 0;
  margin-bottom: 58px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-form .field-group {
  margin: 0;
  margin-bottom: 40px;
}

.hotel-search-form {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

button.hotel-form-search[type="submit"] {
  display: flex;
  font-family: inherit;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  justify-content: center;
  text-decoration: none;
  line-height: 40px;
}

.field-group {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-family: 'PT Sans' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  align-items: center;
  width: 575px;
}

.calendar-button {
  position: absolute;
  right: 17px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.hotel-search-feild-container {
  display: flex;
  position: relative;
  width: 133px;
}

.plus-button {
  position: absolute;
  right: 19px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.minus-button {
  position: absolute;
  left: 174px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}
.minus-button:focus,
.plus-button:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.minus-button:active,
.plus-button:active {
  outline: none;
}

.field-group:nth-child(4) .minus-button {
  left: 116px;
}

.icon-minus {
  width: 13px;
  height: 1px;
  margin: auto;
  display: block;
  opacity: 0.3;
}

.icon-plus {
  width: 13px;
  height: 13px;
  margin:auto;
  display: block;
  opacity: 0.3;
}

.icon-plus:hover,
.icon-minus:hover {
  opacity: 1;
}

.icon-plus:focus,
.icon-minus:focus {
  opacity: 1;
}

.icon-plus:active,
.icon-minus:active {
  opacity: 0.3;
}



.error-text {
  position: absolute;
  top: 45px;
  left: 155px;
  color: #FF5757;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  display: none;
}

.error + .error-text {
  display: block;
}

.info-text {
  position: absolute;
  top: 45px;
  left: 155px;
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  display: none;
}

.field-group .hotel-search-form-field {
  width: 420px;
  height: 50px;
  border-radius: 4px;
  padding-left: 19px;
  background: #F2F2F2;
}

.field-group:nth-child(3) .hotel-search-form-field,
.field-group:nth-child(4) .hotel-search-form-field {
  width: 133px;
  text-align: center;
  padding: 0;
}

.field-group:nth-child(3) {
  width: 288px;
  margin-right: 56px;
}

.field-group:nth-child(4) {
  width: 230px;
}

.hotel-form-search {
  display: flex;
  font-family: inherit;
  width: 575px;
  height: 60px;
  border-radius: 10px;
  justify-content: center;
  text-decoration: none;
  line-height: 40px;
}

.hotel-form-search:hover {
  background: #68A2CA;
}

.hotel-form-search:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.hotel-form-search:active {
  opacity: 0.3;
  outline: none;
}

.background-tooltip {
  position: absolute;
  background: #83B3D3;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.background-tooltip:hover {
  background: #68A2CA;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  width: 256px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  position: absolute;
  top: 175%;
  left: 60%;
  transform: translateX(-50%);
  display: none;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/main/tooltip.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip {
  position: absolute;
  margin-top: 7px;
  margin-left: 7px;
  width: 25px;
  height: 25px;
}

.icon-tooltip {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
}

.modal-container-close {
  display: none;
}




